<html>
<head>
    <title>Car Search Results</title>
</head>
<body>

    {% if newcar is not empty %}
        {% for car in newcar %}
            <h1>Car type: {{ car.getType }} </h1>
            <h3>Price: {{ car.getPrice }} </h3>
            <h3>Mileage: {{ car.getMileage }} </h3>
            <h3>Condition: {{ car.getCondition }} </h3>
            <img src="{{ car.getImage }}">
        {% endfor %}
        {% else %}
            <h2>No vehicles matched your search.</h2>
    {% endif %}


<p><a href="/">New Search</a></p></body>
</html>
